<h2>Hero Detail</h2>
<h3><i>A FormGroup with multiple FormControls</i></h3>
<form [formGroup]="heroForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="hName">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Identity:
      <input class="form-control" formControlName="hId">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Bio:
      <input class="form-control" formControlName="hBio">
    </label>
  </div>
  <div formGroupName="sidekick" class="well well-lg">
    <h4>Sidekick Info</h4>
    <div class="form-group">
      <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
    </div>
    <div class="form-group">
      <label class="center-block">Identity:
        <input class="form-control" formControlName="secretIdentity">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Bio:
        <input class="form-control" formControlName="bio">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Age:
        <input class="form-control" formControlName="age">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Hero:
        <input class="form-control" formControlName="hero" value="{{heroForm.get('hName').value}}" disabled>
      </label>
    </div>
  </div>
  <button type="submit" [disabled]="heroForm.pristine" class="btn btn-success">Submit</button>
</form>
<p>Form value: {{ heroForm.value | json }}</p>
<p>Form status: {{ heroForm.status | json }}</p>
<p>Sub Status: {{savedHero | json}}</p>
<p>{{heroForm.get('sidekick.hero').value}}</p>
