<h2>Marvel Heroes</h2>
<div id="wrapper">
  <div style="width: 33%; float: left;">
    <ul class="heroes">
      <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </li>
    </ul>
    <button routerLink="/heroform" routerLinkActive="active">Add Hero</button>
  </div>
  <div style="width: 66%; float: right;">
    <my-hero-detail [hero]="selectedHero"></my-hero-detail>
  </div>
</div>


